.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 100vh;

  background-color: #fff;
}

.from {
  position: absolute;
  bottom: 56px;

  font-size: 16px;
  color: grey;
}

.developer {
  position: absolute;
  bottom: 24px;

  background-image: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;

  font-size: 26px;
}
