.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 44px;
  width: 100%;

  padding-left: 16px;
  padding-right: 16px;

  border-bottom: 1px solid grey;

  box-shadow: 0 8px 4px -7px rgba(0, 0, 0, 0.2);

  position: fixed;
}

.actions {
}
