.container {
  padding-bottom: 8px;
}

.header {
  height: 56px;

  padding: 0 12px 0 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  padding-left: 8px;
  padding-right: 8px;
}

.creator {
  display: flex;
  align-items: center;
}

.creatorImage {
  width: 32px;
  height: 32px;

  margin-right: 9px;

  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;

  overflow: hidden;
}

.creatorName {
  margin-right: 4px;

  font-size: 14px;
  font-weight: 800;
}

.creatorVerificated {
  margin-right: 4px;
  color: steelblue;
}

.image {
  min-height: 200px;
}

.postActions {
  font-size: 18px;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 40px;
}

.likes {
  display: flex;
  align-items: center;

  height: 18px;

  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 800;
}

.lastLikedProfile {
  height: 14px;
  width: 14px;
  margin-right: 4px;

  border: 1px solid grey;
  border-radius: 50%;

  overflow: hidden;
}

.numberOfLikes {
  margin-right: 4px;
}

.descriptionText {
  font-size: 14px;
  font-weight: 400;
}

.comments {
  margin-top: 8px;
  color: grey;
}
