.container {
  padding-bottom: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 56px;

  padding: 0 12px 0 12px;
}

.info {
  padding-left: 8px;
  padding-right: 8px;
}

.creator {
  display: flex;
  align-items: center;
}

.creatorImage {
  width: 32px;
  height: 32px;

  margin-right: 9px;

  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;

  overflow: hidden;
}

.creatorName {
  margin-right: 4px;

  font-size: 14px;
  font-weight: 800;
}

.image {
  min-height: 200px;
}

.postActions {
  font-size: 18px;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 40px;
}

.actionButton {
  margin-right: 6px;
}

.likes {
  display: flex;
  align-items: center;

  height: 18px;

  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 800;
}

.lastLikedProfile {
  display: flex;
  align-items: center;

  height: 14px;
  width: 14px;
  margin-left: -6px;

  border: 1px solid white;
  border-radius: 50%;

  overflow: hidden;

  z-index: 1;
}

.lastLikedProfile:first-child {
  margin-left: 0; /* Убираем смещение у первого элемента */
}

.numberOfLikes {
  margin-right: 4px;
}

.description {
  margin-bottom: 6px;
}

.descriptionText {
  font-size: 14px;
  font-weight: 400;
}

.comments {
  margin-top: 8px;
  color: grey;
}

.creatorVerificated {
  margin-right: 6px;
}

.likesUsers {
  display: flex;
}

.underPost {
  display: flex;
  align-items: center;

  margin-top: 6px;

  font-size: 11px;
}

.timeStamp {
  margin-right: 6px;
  color: grey;
}

.translate {
  font-weight: 800;
}
