.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 16px;

  height: 72px;

  font-size: 12px;
}

.userPhoto {
  min-width: 56px;
  height: 56px;

  margin-right: 8px;

  border: 1px solid grey;
  border-radius: 50%;

  overflow: hidden;
}

.userNameMessage {
  width: 100%;
  max-width: calc(100% - 100px);

  color: black;
}

.lastMessage {
  display: flex;

  margin-top: 4px;
  width: 100%;
  color: gray;
}

.message {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.timeStamp {
  white-space: nowrap;
}

.statusIcon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 37px;
  height: 100%;

  color: grey;
}

.statusDot {
  width: 8px;
  height: 8px;
  background-color: #0095f6;
  border-radius: 50%;
}
